<button class="btn" data-filter=".one">one</button>

<button class="btn" data-filter=".two">two</button>

<button class="btn" data-filter=".three">three</button>

<button class="btn" data-filter="">all</button>

<div class="directory" id="container">

  <div class="item three"><img data-original="app/images/andersonhall.png" src="app/images/andersonhall.png" /></div>
  <div class="item two"><img data-original="app/images/ballouhall.png" src="" /></div>
  <div class="item three"><img data-original="app/images/carmichaelhall.png" src="" /></div>
  <div class="item one"><img data-original="app/images/dowlinghall.png" src="" /></div>
  <div class="item two"><img data-original="app/images/goddardchapel.png" src="" /></div>
  <div class="item three"><img data-original="app/images/tischathleticcenter.png" src="" /></div>
  <div class="item one"><img data-original="app/images/tischlibrary.png" src="app/images/tischlibrary.png" /></div>

  <div class="item three"><img data-original="app/images/andersonhall.png" src="app/images/andersonhall.png" /></div>
  <div class="item two"><img data-original="app/images/ballouhall.png" src="" /></div>
  <div class="item three"><img data-original="app/images/carmichaelhall.png" src="" /></div>
  <div class="item one"><img data-original="app/images/dowlinghall.png" src="" /></div>
  <div class="item two"><img data-original="app/images/goddardchapel.png" src="" /></div>
  <div class="item three"><img data-original="app/images/tischathleticcenter.png" src="" /></div>
  <div class="item one"><img data-original="app/images/tischlibrary.png" src="app/images/tischlibrary.png" /></div>

    <div class="item three"><img data-original="app/images/andersonhall.png" src="app/images/andersonhall.png" /></div>
  <div class="item two"><img data-original="app/images/ballouhall.png" src="" /></div>
  <div class="item three"><img data-original="app/images/carmichaelhall.png" src="" /></div>
  <div class="item one"><img data-original="app/images/dowlinghall.png" src="" /></div>
  <div class="item two"><img data-original="app/images/goddardchapel.png" src="" /></div>
  <div class="item three"><img data-original="app/images/tischathleticcenter.png" src="" /></div>
  <div class="item one"><img data-original="app/images/tischlibrary.png" src="app/images/tischlibrary.png" /></div>

  <div class="item three"><img data-original="app/images/andersonhall.png" src="app/images/andersonhall.png" /></div>
  <div class="item two"><img data-original="app/images/ballouhall.png" src="" /></div>
  <div class="item three"><img data-original="app/images/carmichaelhall.png" src="" /></div>
  <div class="item one"><img data-original="app/images/dowlinghall.png" src="" /></div>
  <div class="item two"><img data-original="app/images/goddardchapel.png" src="" /></div>
  <div class="item three"><img data-original="app/images/tischathleticcenter.png" src="" /></div>
  <div class="item one"><img data-original="app/images/tischlibrary.png" src="app/images/tischlibrary.png" /></div>

  <div class="item three"><img data-original="app/images/andersonhall.png" src="app/images/andersonhall.png" /></div>
  <div class="item two"><img data-original="app/images/ballouhall.png" src="" /></div>
  <div class="item three"><img data-original="app/images/carmichaelhall.png" src="" /></div>
  <div class="item one"><img data-original="app/images/dowlinghall.png" src="" /></div>
  <div class="item two"><img data-original="app/images/goddardchapel.png" src="" /></div>
  <div class="item three"><img data-original="app/images/tischathleticcenter.png" src="" /></div>
  <div class="item one"><img data-original="app/images/tischlibrary.png" src="app/images/tischlibrary.png" /></div>

    <div class="item three"><img data-original="app/images/andersonhall.png" src="app/images/andersonhall.png" /></div>
  <div class="item two"><img data-original="app/images/ballouhall.png" src="" /></div>
  <div class="item three"><img data-original="app/images/carmichaelhall.png" src="" /></div>
  <div class="item one"><img data-original="app/images/dowlinghall.png" src="" /></div>
  <div class="item two"><img data-original="app/images/goddardchapel.png" src="" /></div>
  <div class="item three"><img data-original="app/images/tischathleticcenter.png" src="" /></div>
  <div class="item one"><img data-original="app/images/tischlibrary.png" src="app/images/tischlibrary.png" /></div>

</div>
