html { height: 100% }

body { height: 100%; margin: 0; padding: 0; }

/* Global */

button {
    
    cursor: pointer;

}

:focus {
	
	outline-style:dotted;
	outline-color:#00ff00;

}

/* Dev */

#log {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 240px;
    height: auto;
    background: #fff;
    z-index: 999;
    display: none;
}

/* Layout */

#map-wrap, #map-canvas { height: 100% }

#map-wrap {
	position: relative;
}

#campusmap {
  position: relative;
  overflow: hidden;
  background: #eee;
  border: 1px #999 solid;
  width: 100%;
  margin: 20px auto;
  height: 520px;
  max-width: 890px;

  &.viz-googlemap {
    
    &.streetview {
      
      #ui-search {

        opacity: 0;

      }

    }

  }

}

/* Searchbox */
#ui-search {

  opacity: 1;

  transition: opacity .9s;
  -webkit-transition: opacity .9s; /* Safari */

  transition-delay: 0s;
  -webkit-transition-delay: 0s;

	position: absolute;
	width: 400px;
	z-index: 101;
	top: 12px;
	left: 64px;
    .panel {
        margin-right: 4px;
    }
	#panels {
		clear: both;
		z-index: 100;
        position: relative;
		margin-top: 12px;
        &> div {
            box-sizing: border-box;
            padding: 0 3px 0 0;
            position: relative;
            z-index: 200;
            .panel {
                margin: 0 0 12px 0;
                position: relative;

            }
        }
        .in-queue {

            display: none;
            margin-right: 0;
            .bd {
                background: #fff;
                padding: 12px;
                border: 1px #999 solid;

            }
            &.showing {
                display: block;
            }
            .css3 {
                border: red 1px solid;;
            }

            .panel {

              overflow: hidden;
              box-sizing: border-box;

              /* Specify how to apply style before/after animation*/
              animation-fill-mode: both; 
              -webkit-animation-fill-mode: both; 

              &.slideDown {

                -webkit-animation: slideDownFrames 0.4s; /* Safari and Chrome */
                animation: slideDownFrames 0.4s;
                
                -webkit-animation-timing-function:ease-in-out;
                animation-timing-function:ease-in-out;

              }

              &.slideUp {

                -webkit-animation-timing-function:ease-in-out;
                animation-timing-function:ease-in-out;

                -webkit-animation: slideUpFrames 0.4s; /* Safari and Chrome */
                animation: slideUpFrames 0.4s;
                
              }
            }

        }


	}
	.form-group {
		width: 100%;
		background: #fff;
		border-radius: 0;
		border: 1px #999 solid;
		padding: 12px 0;
		position: relative;
		z-index: 999;
	}
	.btn {
		position: absolute;
		right: 12px;
		top: 12px;
		z-index: 999;
	}
}

/* Transition */

@keyframes slideUpFrames {
    0% { 

      -webkit-transform: translateY(0); 
       -moz-transform: translateY(0); 
        -ms-transform: translateY(0); 
         -o-transform: translateY(0); 
            transform: translateY(0);
      max-height: 200px; 

    }

    100% { 

      max-height: 0px; 
      -webkit-transform: translateY(-52px); 
       -moz-transform: translateY(-52px); 
        -ms-transform: translateY(-52px); 
         -o-transform: translateY(-52px); 
            transform: translateY(-52px); 

    }
}

@-webkit-keyframes slideUpFrames /* Safari and Chrome */
{
    0% { 

      -webkit-transform: translateY(0); 
       -moz-transform: translateY(0); 
        -ms-transform: translateY(0); 
         -o-transform: translateY(0); 
            transform: translateY(0);
      max-height: 200px;

    }
    100% { 

      max-height: 0px; 
      -webkit-transform: translateY(-52px); 
       -moz-transform: translateY(-52px); 
        -ms-transform: translateY(-52px); 
         -o-transform: translateY(-52px); 
            transform: translateY(-52px); 

    }
}

@keyframes slideDownFrames {
    0% { 

      -webkit-transform: translateY(-52px); 
       -moz-transform: translateY(-52px); 
        -ms-transform: translateY(-52px); 
         -o-transform: translateY(-52px); 
            transform: translateY(-52px); 
      max-height: 0px; 

    }
    100% { 

      max-height: 200px; 
      -webkit-transform: translateY(0); 
       -moz-transform: translateY(0); 
        -ms-transform: translateY(0); 
         -o-transform: translateY(0); 
            transform: translateY(0); 

    }
}

@-webkit-keyframes slideDownFrames /* Safari and Chrome */
{
    0% { 

      -webkit-transform: translateY(-52px); 
       -moz-transform: translateY(-52px); 
        -ms-transform: translateY(-52px); 
         -o-transform: translateY(-52px); 
            transform: translateY(-52px); 
      max-height: 0px; 

    }
    100% { 

      max-height: 200px; 
      -webkit-transform: translateY(0); 
       -moz-transform: translateY(0); 
        -ms-transform: translateY(0); 
         -o-transform: translateY(0); 
            transform: translateY(0); 

    }
}

/* Contours */

.shadow {
    box-shadow:         2px 2px 2px 0px rgba(0,0,0,.22);    
}

/* Directory */

.directory {
    margin: 60px auto;
    background: #eee;
   max-width: 1040px; 


}

.directory .item {

}

.directory > .item {
    
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    max-width: 100%;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
    margin: 5px;
}

.directory > .item img {

}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}


.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
