html { height: 100% }

body { height: 100%; margin: 0; padding: 0 }

/* Global */

button {
    
    cursor: pointer;

}

:focus {
	
	outline-style:dotted;
	outline-color:#00ff00;

}

/* Dev */

#log {
    
    position: absolute;
    right: 20px;
    top: 20px;
    width: 240px;
    height: 400px;
    background: #fff;
    z-index: 999;
}

/* Layout */

#map-wrap, #map-canvas { height: 100% }

#map-wrap {
	position: relative;
}

/* Searchbox */
#ui-search {
	
	position: absolute;
	width: 400px;
	z-index: 999;
	top: 32px;
	left: 94px;
	#panels {
		clear: both;
		position: relative;
		z-index: 998;
		margin-top: 12px;
	}
	.form-group {
		width: 100%;
		background: #fff;
		border-radius: 0;
		border: 1px #999 solid;
		padding: 12px 0;
		position: relative;
		z-index: 999;
	}
	.btn {
		position: absolute;
		right: 0;
		top: 12px;
		z-index: 999;
	}
}

/* Transition */

.animated {
	overflow: hidden;
  animation-duration: .5s;
  animation-fill-mode: both;
    -webkit-transition:     max-height .6s  ease-in;
    -moz-transition:        max-height .6s  ease-in;
    -o-transition:          max-height .6s  ease-in;
    -ms-transition:         max-height .6s  ease-in;
    transition:             max-height .6s  ease-in;

}

@keyframes slideInDown {
        0% {
                opacity: 0;
                transform: translateY(0px);
        }

        100% {
                transform: translateY(-50px);
        }
}

.slideInDown {
        animation-name: slideInDown;
        max-height: 0px;
}

@keyframes slideOutUp {
        0% {
                transform: translateY(0px);
                max-height: 400px;
        }

        20% {
                transform: translateY(0px);
                max-height: 400px;
        }

        100% {
                 
                transform: translateY(-54px);
                 max-height: 0px;
                
        }
}

@-webkit-keyframes slideOutUp /* Safari and Chrome */
{
        0% {
                transform: translateY(0px);
                max-height: 400px;
        }

        20% {
                transform: translateY(0px);
                max-height: 400px;
        }

        100% {
                 
                transform: translateY(-54px);
                 max-height: 0px;
                
        }
}



@keyframes bounceInDown {
        0% {
               
                transform: translateY(-54px);
                max-height: 0px;
        }



        100% {
        		max-height: 600px;
                transform: translateY(0);
        }
}

@-webkit-keyframes bounceInDown /* Safari and Chrome */
{
        0% {
               
                transform: translateY(-54px);
                max-height: 0px;
        }



        100% {
        		max-height: 600px;
                transform: translateY(0);
        }
}

.in-queue {

    display: none;

	.bd {


	}
    &.animated {
        display: block;
    }
    &.bounceInDown {
        animation-name: bounceInDown;
        -webkit-animation: bounceInDown; /* Safari and Chrome */
    }

    &.slideOutUp {
        animation-name: slideOutUp;
        -webkit-animation: slideOutUp; /* Safari and Chrome */
           
    }

	background: #fff;
	padding: 12px;
	border: 1px #999 solid;

}

.shadow {
    -moz-box-shadow:    2px 2px 1px 0px rgba(0,0,0,.22);
    -webkit-box-shadow: 2px 2px 1px 0px rgba(0,0,0,.22);
    box-shadow:         2px 2px 1px 0px rgba(0,0,0,.22);    
}



