<div class="shadow panel">
	<div class="bd spacing">
		<h3>Accessibility</h3>
		<p>Nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit. vel illum qui dolorem eum fugiat quo voluptas nulla pariatur? Qui in ea voluptate velit esse quam nihil molestiae consequatur.</p>
		<button class="close close-just-this" data-campusmap='cmd:CampusMapList'><span class="lite">close this panel</span> X</button>
	</div>
</div>