<div class="shadow panel panel-campuses">
	<div class="bd spacing">
		<button class="back" onclick="window.history.back()">back</button>
		<h3>Admin: Campuses ${data.test}</h3> 
		<ul>
			<% _.each(data.campuses, function(campus) { %> 
			    <li id="<%= campus.campusid %>" <% if (campus.selected) { %>class="active"<% } %>><a href="#" data-campusmap="campusid:<%= campus.campusid %>">${campus.name}</a> <button data-campusmap="cmd:AdminCampusMapList" class="maps">View maps</button></li>
			<% }); %>
			<% if (!data.campuses) { %><li>No campuses yet.</li><% } %>
		</ul>

		<p><button class="new_campus" data-campusmap="cmd:AdminCampusCreate">Create a new Campus</button></p>
	</div>
</div>