<div class="shadow panel admin">
	<div class="navbar">Add multiple locations.</div>
	<div class="bd spacing">
		<h3>Admin: Add Locations</h3>
		<div>Click the map to add a new location. Add as many as you want. When done, click the button below.</div>
		<div>New locations added: <span id="locations-added-total" class="label-lite">${data.locationsTotal}</span></div>
		<form class="form-horizontal" role="form">
		  <div class="form-group">
		    <div class="col-sm-12">
		      <button class="save">Done, Save (${data.locationsTotal})</button>
		    </div>
		  </div>
		</form>
	</div>
</div>