<div class="shadow panel">
	<div class="bd">
		<button class="back" onclick="window.history.back()">back</button>
		<h3>${data.name} Campus Maps</h3>
		<ul>
			<% _.each(data.maps, function(map) { %> 
			    <li <% if (map.selected) { %>class="active"<% } %>><a href="#<%= map.mapid %>" data-campusmap="cmd:LocationList" data-defer="campusmap:<%= map.mapid %>">${map.name}</a> (${map.locationTotal})</li>
			<% }); %>
			<% if (data.maps.length === 0) { %><li>No maps yet.</li><% } %>
		</ul>
	</div>
</div>