<div class="shadow panel">
	<div class="bd spacing">

		<p>Share a link directly to this location.</p>

		<div class="form-group">
			<label for="share-location-link" class="sr-only">Share a link</label>
			<input id="share-location-link" type="text" class="form-control" autocomplete="off" value="${data.url}" />
		</div>
		
	</div>
</div>