<div class="shadow panel panel-details">

	<div class="bd">

		<nav class="nav-details">

			<ul>

				<li class="nav-item details <%  if (data.detailsview === 'details') { %>active<% } %>"><button data-campusmap="detailsview:details,cmd:Location" class="btn-details">Details</button></li>

				<li class="nav-item photo <%  if (data.detailsview === 'photo') { %>active<% } %>"><button data-campusmap="detailsview:photo,cmd:Location" class="btn-photo">Photos</button></li>

				<li class="nav-item offices <%  if (data.detailsview === 'offices') { %>active<% } %>"><button data-campusmap="detailsview:offices" class="btn-departments_offices">Offices</button></li>

				<li class="nav-item directions <%  if (data.detailsview === 'directions') { %>active<% } %>"><button data-campusmap="detailsview:directions,cmd:Location" class="btn-directions">Directions</button></li>

				<li class="back"><button class="btn-back" onclick="window.history.back()">back</button></li>

			</ul>

		</nav>

		
		<h3>${data.name}</h3> 

		<div class="content-container shadow">

			<div class="panel-content <%  if (data.detailsview === 'details') { %>active<% } %>" id="details">
				<ul class="details-list <%  if (data.thumbnail) { %>has-thumbnail<% } %>">

					<li>

						<p>Medford, MA 02155</p>

						<%  if (data.address1) { %><p>${data.address1}</p><% }  %>

						<p>GPS Coordinates: ${data.latlng}</p>

					</li>

				
					<%  if (data.thumbnail) { %><li class="thumbnail"><img class="shadow" src="./app/images/thumbs/${data.thumbnail}" /></li><% } %>
					
				</ul>

				<div class="linkTo"><button>Link directly to this location</button></div>

			</div>

			<div class="panel-content <%  if (data.detailsview === 'offices') { %>active<% } %>" id="offices">
				

					<button  data-campusmap="detailsview:offices,cmd:Location_panelA">Community Relations</button>

					<button data-campusmap="detailsview:offices,cmd:Location_panelB">Office of Communications</button>

					<button>Office of Advancement </button>
					<button>Provost Office</button>
					<button>Office of the Vice President </button>
					<button>Office of Diversity</button>
					<button>President's Office</button>

					<button>Publications Office</button>
					<button>Office 1 </button>
					<button>Office 1 </button>
					<button>Office 1 </button>
					<button>Office 1 </button>                                                                            
				 
			</div>

			<%  if (data.urlphoto) { %>
				<div class="panel-content <%  if (data.detailsview === 'photo') { %>active<% } %>" id="photo">
					<img width="343" height="132" src="./app/images/${data.urlphoto}" />
				</div>
			<%  } %>

			<div class="panel-content <%  if (data.detailsview === 'directions') { %>active<% } %>" id="directions">
				Directions
			</div>

		</div>


	</div>
	
</div>
