<!--
<div class="panel panel-details panel-nav">
	<div class="bd nav-details-container">
		<nav class="nav-details">

			<ul>

				<% _.each(data.nav, function(item) { %> 
				    <li class="nav-item ${item.navid} ${item.active}"><button data-campusmap="detailsview:${item.navid},cmd:Location" class="btn-${item.navid}">${item.navlabel}</button></li>
				<% }); %>

			</ul>

		</nav>
	</div>
</div>-->

<div class="shadow panel panel-details">

	<div class="bd nav-details-container">
		<nav class="nav-details">

			<ul>

				<% _.each(data.nav, function(item) { %> 
				    <li class="nav-item ${item.navid} ${item.active}"><button data-campusmap="detailsview:${item.navid},cmd:Location" class="btn-${item.navid}">${item.navlabel}</button></li>
				<% }); %>

				<!--<li class="back"><button class="btn-back" onclick="window.history.back()">back</button></li>-->

			</ul>

		</nav>
	</div>

	<div class="bd card card-${data.detailsview}">

		<h3>${data.name}</h3>

		<div class="content-container shadow">

			<div class="panel-content <%  if (data.detailsview === 'details') { %>active<% } %>" id="details">
				<ul class="details-list <%  if (data.thumbnail) { %>has-thumbnail<% } %>">

					<%  if (data.address1) { %><li class="address1">${data.address1}</li><% } %>

					<%  if (data.city_state_zip || true) { %><li class="city_state_zip">Medford, MA 02155</li><% } %>

					

					<%  if (data.accessibility || true) { %><li class="accessibility">Accessible with assistance</li><% } %>

					<%  if (data.accessibility_restroom || true) { %><li class="accessibility restroom">Accessible restroom</li><% } %>

					<!--<%  if (data.thumbnail) { %><li class="thumbnail"><img class="shadow" src="./app/images/thumbs/${data.thumbnail}" /></li><% } %><div class="linkTo"><button>Link directly to this location</button></div>

					-->
					
				</ul>

				<aside class="aside">
					
					<div class="bd">

						<ul>

							<%  if (data.phone || true) { %><li class="phone">(617) 627-5000</li><% } %>

							<%  if (data.email || true) { %><li class="email">contact@tufts.edu</li><% } %>

							<%  if (data.website || true) { %><li class="website">Visit the website &gt;</li><% } %>

							<%  if (data.latlng) { %><li class="gps">${data.latlng}</li><% } %>

							<li><button data-campusmap="cmd:Location_panelA">Directions</button> <button data-campusmap="cmd:Location_panelB">Share link</button></li>

						</ul>

					</div>

				</aside>

			</div>

			<div class="panel-content <%  if (data.occupants && data.occupants.length === 1) { %> single-occupant<% } %><%  if (data.detailsview === 'offices') { %> active<% } %>" id="offices">
				<div class="occupant-list">


					<%  if (data.occupants && data.occupants.length > 1) { %>

						<h4 class="total">Choose a Department/Office <span class="label-light">(${data.occupants.length} in total)</span></h4>

						<% _.each(data.occupants, function(occupant, index) { %> 

						    <button class="occupant" data-index=${index}><span class="position">#${++index}</span> ${occupant.name}</button>

						<% }); %>

					<% }  else if (data.occupants && data.occupants.length === 1) { %>

					<h4>${data.occupants[0].name}</h4>

					<ul>
						<%  if (data.occupants[0].locwithin) { %><li>${data.occupants[0].locwithin}</li><% } %>

						<%  if (data.occupants[0].phone) { %><li>${data.occupants[0].phone}</li><% } %>

						<%  if (data.occupants[0].email) { %><li><a href="mailto:${data.occupants[0].email}">${data.occupants[0].email}</a></li><% } %>

						<%  if (data.occupants[0].website) { %><li><a href="${data.occupants[0].website}">Visit the website &gt;</a></li><% } %>

					</ul>

                    <% } %>

				 </div>
			</div>

			<%  if (data.urlphoto) { %>
				<div class="panel-content <%  if (data.detailsview === 'photo') { %>active<% } %>" id="photo">
					<div>
						<img id="photowide" data-photowide="./app/images/${data.urlphoto}" src="./app/images/${data.urlphoto}" />
						<div id="satellite"></div>
					</div>
				</div>
			<%  } %>

			<div class="panel-content <%  if (data.detailsview === 'directions') { %>active<% } %>" id="directions">
				Directions
			</div>

		</div>


	</div>
	
</div>
