<div class="shadow panel">
	<div class="bd">
		<button class="back" onclick="window.history.back()">back</button>
		<h3>${data.name}</h3> 
		<ul>
			<li>LatLng: ${data.latlng}</li>
		</ul>
	</div>
</div>