<div class="shadow panel panel-locations location-filters ${data.classname}">
	<div class="navbar">
			<label class="lbl-filters">Filters:</label> 
			<button <% if (data.classname === '') { %>class="active"<% } %> data-campusmap="locationlistfilter:">All</button>
			<button <% if (data.classname === 'athletics') { %>class="active"<% } %> data-campusmap="locationlistfilter:#athletics">Athletics</button>
			<button <% if (data.classname === 'dorm') { %>class="active"<% } %> data-campusmap="locationlistfilter:#dorm">Residences</button>
			<button <% if (data.classname === 'abc') { %>class="active"<% } %> class="btn-abc" data-campusmap="locationlistfilter:abc">A-Z</button> 

	</div>
	<div class="bd spacing-full">

		<div class="spacing">

			<div id="nav-abc">
				<button data-campusmap="locationlistfilter:a">A</button> 
				<button data-campusmap="locationlistfilter:b">B</button> 
				<button data-campusmap="locationlistfilter:c">C</button> 
				<button data-campusmap="locationlistfilter:d">D</button> 
				<button data-campusmap="locationlistfilter:e">E</button> 
				<button data-campusmap="locationlistfilter:f">F</button> 
				<button data-campusmap="locationlistfilter:g">G</button> 
				<button data-campusmap="locationlistfilter:h">H</button> 
				<button data-campusmap="locationlistfilter:i">I</button> 
				<button data-campusmap="locationlistfilter:j">J</button> 
				<button data-campusmap="locationlistfilter:k">K</button> 
				<button data-campusmap="locationlistfilter:l">L</button> 
				<button data-campusmap="locationlistfilter:m">M</button> 
				<button data-campusmap="locationlistfilter:n">N</button> 
				<button data-campusmap="locationlistfilter:o">O</button> 
				<button data-campusmap="locationlistfilter:p">P</button> 
				<button data-campusmap="locationlistfilter:q">Q</button> 
				<button data-campusmap="locationlistfilter:r">R</button> 
				<button data-campusmap="locationlistfilter:s">S</button> 
				<button data-campusmap="locationlistfilter:t">T</button> 
				<button data-campusmap="locationlistfilter:u">U</button> 
				<button data-campusmap="locationlistfilter:v">V</button> 
				<button data-campusmap="locationlistfilter:w">W</button> 
				<button data-campusmap="locationlistfilter:x">X</button> 
				<button data-campusmap="locationlistfilter:y">Y</button> 
				<button data-campusmap="locationlistfilter:z">Z</button> 
			</div>
		</div>


		<h3>Campus: ${data.name}</h3>

		<!--<h4>Map: ${data.map.name }</h4>-->

		<ul class="list list-striped">
			<% _.each(data.map.locations, function(loc) { %> 
			    <li id="<%= loc.locationid %>" <% if (loc.selected) { %>class="active"<% } %>><a class="location" data-campusmap="latlng:${loc.latlng},highlight:<%= loc.locationid %>,focus:<%= loc.locationid %>"  href="#${loc.name}" >${loc.name}</a> <button data-campusmap="details:<%= loc.locationid %>,cmd:Location" class="locations">details</button></li>
			<% }); %>
			<% if (data.map.locations.length === 0) { %><li>No locations yet.</li><% } %>
		</ul>
	</div>
</div>

