<div class="shadow panel panel-locations">
	<div class="bd">
		<button class="back" onclick="window.history.back()">back</button>
		<h3>Campus: ${data.name}</h3>

		<h4>Map: ${data.map.name }</h4> 

		<ul>
			<% _.each(data.map.locations, function(loc) { %> 
			    <li id="<%= loc.locationid %>" <% if (loc.selected) { %>class="active"<% } %>><a href="#${loc.name}" data-campusmap="locationid:<%= loc.locationid %>">${loc.name}</a> <button data-campusmap="locationdetails:<%= loc.locationid %>" class="locations">View details</button></li>
			<% }); %>
			<% if (data.map.locations.length === 0) { %><li>No locations yet.</li><% } %>
		</ul>
	</div>
</div>