<div class="shadow panel">
	<div class="bd">
		<p><strong>Panel A: </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<button data-cmd='panelC'>Searchbox View C</button>
	</div>
</div>
