<div class="shadow panel">
	<div class="bd">
		<button class="back" onclick="window.history.back()">back</button>
		<p><strong>Panel A: </strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<button data-campusmap='cmd:panelC'>Searchbox View C</button>
	</div>
</div>
