<div class="shadow panel">
	<div class="bd">
		<button class="back" data-campusmap='cmd:Location'>close</button>
		<p><strong>Panel B: </strong> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

		<button data-campusmap='vizpath:leaflet'>Leaflet</button>

		<button data-campusmap='vizpath:googlemap'>Google Map</button>
		
	</div>
</div>
