<div class="shadow panel">
	<div class="navbar"><em>Search by building name, address or keyword.</em></div>
	<div class="bd spacing">
		<h3>Panel A</h3> 
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet.</p>
		<button class="close close-just-this" data-campusmap='cmd:CampusMapList'><span class="lite">close this panel</span> X</button>
	</div>
</div>
