<div class="shadow panel">
	<div class="navbar"><em>Search by building name, address or keyword.</em></div>
	<div class="bd spacing">
		<div>Searching for: <em>${data.query}</em></div>
		<ul class="list">
			<% _.each(data.results, function(loc) { %> 
			    <li id="<%= loc.locationid %>" <% if (loc.selected) { %>class="active"<% } %>>${loc.name} <button data-campusmap="details:<%= loc.locationid %>,cmd:Location" class="locations">View details</button></li>
			<% }); %>
			<% if (data.results.length === 0) { %><li>No results found.</li><% } %>
		</ul>
		
	</div>
</div>
<!--
<div class="shadow panel">
	<div class="bd spacing">
		<strong>Looking for visitor parking?</strong>
	</div>
</div>

<div class="shadow panel">
	<div class="bd spacing">
		<strong>Popular tags</strong>
	</div>
</div>
-->