<div class="shadow panel">
	<div class="navbar">
		Changes to settings will remain on future visits.
	</div>
	<div class="bd spacing">
		<h3>Settings</h3>

		
		<h4>Animation</h4>

		<div class="checkbox animation">
			<label>
			  <input type="checkbox" <% if (data.panelanimations === true) { %>checked<% } %>> Panel animations
			</label>
		</div>


		<hr/>
		
		<h4>Map Labels</h4>

		<div class="checkbox largelabels">
			<label>
			  <input type="checkbox" <% if (data.largelabels === true) { %>checked<% } %>> Large labels
			</label>
		</div>

		<div class="checkbox highcontrastlabels">
			<label>
			  <input type="checkbox" <% if (data.highcontrastlabels === true) { %>checked<% } %>> High contrast map labels
			</label>
		</div>		

		<hr/>

		<h4>Map</h4>

		<div class="checkbox showme">
			<label>
			  <input type="checkbox" <% if (data.showme === true) { %>checked<% } %>> Show my location
			</label>
		</div>

		<div class="checkbox style">
			<label>
			  <input type="checkbox" <% if (data.highcontrast === true) { %>checked<% } %>> High-contrast map style (experimental)
			</label>
		</div>

		<hr/>

		<h4>Vector Tile Examples</h4>

		<div class="vector-maps">
			<button data-campusmap="maptype:plain">Plain</button> 
			<button data-campusmap="maptype:pinterest">Pinterest</button> 
			<button data-campusmap="maptype:comicbook">Comic</button> 
			<button data-campusmap="maptype:sketch">Sketch</button> 
			<button data-campusmap="maptype:3d">3D</button> 
			<button data-campusmap="maptype:mozilla">Mozilla</button> 
			<button data-campusmap="maptype:treasure">Treasure</button> 
		</div>


	</div>
</div>