<div class="shadow panel">
	<div class="navbar"><em>Changes to settings will persist on futire visits.</em></div>
	<div class="bd spacing">
		<h3>Settings</h3>
		<div class="checkbox">
			<label>
			  <input type="checkbox" checked="${data.panelanimations}"> Enable panel animations
			</label>
		</div>
	</div>
</div>