<div class="shadow panel">
	
	<div class="bd spacing">
		<h3>Settings</h3>
		<div class="checkbox showme">
			<label>
			  <input type="checkbox" <% if (data.showme === true) { %>checked<% } %>> Enable show my location
			</label>
		</div>
		<div class="checkbox animation">
			<label>
			  <input type="checkbox" <% if (data.panelanimations === true) { %>checked<% } %>> Enable panel animations
			</label>
		</div>
		<div class="checkbox largelabels">
			<label>
			  <input type="checkbox" <% if (data.largelabels === true) { %>checked<% } %>> Enable large labels
			</label>
		</div>
		<div class="checkbox highcontrastlabels">
			<label>
			  <input type="checkbox" <% if (data.highcontrastlabels === true) { %>checked<% } %>> Enable high contrast map labels
			</label>
		</div>
		<div class="checkbox style">
			<label>
			  <input type="checkbox" <% if (data.highcontrast === true) { %>checked<% } %>> Enable high-contrast map style
			</label>
		</div><br/>
		<div class=""><em>Changes to settings will persist on futire visits.</em></div>
	</div>
</div>