<div class="shadow panel">
	<div class="bd spacing">
		<h3>Popular Tags</h3>
		<p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
		<button class="close close-just-this" data-campusmap='cmd:CampusMapList'><span class="lite">close this panel</span> X</button>
	</div>
</div>