<div class="shadow panel">
	<div class="bd spacing">
		<h3>Popular Tags</h3>
		<p><a href="#" data-campusmap="query:food,cmd:Results">Dining</a> | <a href="#" data-campusmap="query:Fletcher,cmd:Results">Fletcher</a> | <a href="#" data-campusmap="query:greek,cmd:Results">Greek</a></p>
		<button class="close close-just-this" data-campusmap='cmd:CampusMapList'><span class="lite">close this panel</span> X</button>
	</div>
</div>