<div class="shadow panel">
	<div class="navbar"><em>Select a tag below to view associated locations.</em></div>
	<div class="bd spacing fluid-height">
		<h3>Popular Tags</h3>
		<table width="100%" style="margin-bottom:6px;">
			<tr>

				<td><a href="#" data-campusmap="query:#dining,cmd:Results">#dining</a><br/><a href="#" data-campusmap="query:#fletcher,cmd:Results">#fletcher</a>

				</td>

				<td><a href="#" data-campusmap="query:#athletics,cmd:Results">#athletics</a><br/><a href="#" data-campusmap="query:#parking,cmd:Results">#parking</a>

				</td>

				<td><a href="#" data-campusmap="query:#atm,cmd:Results">#atm</a><br/><a href="#" data-campusmap="query:#greek,cmd:Results">#greek</a>

				</td>

				<td><a href="#" data-campusmap="query:#art,cmd:Results">#art</a><br/><a href="#" data-campusmap="query:#dorm,cmd:Results">#dorm</a>

				</td>

			</tr>
		</table>

		<!--<button class="close close-just-this" data-campusmap='cmd:CampusMapList'><span class="lit">Popular Tags</span> X</button>-->
	</div>
</div>